body {
    margin: 0px;
    font-family: 'Arial';
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0px auto;
}
.search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: 400px;
    background: #efefef;
    position: relative;
    padding: 32px 8px;
    overflow: hidden;
    /* border-top: 1px solid rgba(0,0,0,.2); */
    box-sizing: border-box;
    /* border-radius: 15px; */
    box-shadow: 0px 3px 5px rgba(0,0,0,.1);
}
.search-container .items {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.search-container .items .item {
    flex: 1 1 0;
    text-align: center;
    min-width: 1px;
    margin: 0px 2px;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #005cb9;
    height: 0%;
    position: relative;
    transition: height 1s;
    margin: 0px 8px;
}
.search-container.n-40 .items .item {
    margin: 0px 4px;
}
.search-container.n-40 .items .item span {
    font-size: 11px;
}
.search-container.n-70 .items .item {
    margin: 0px 3px;
}
.search-container.n-70 .items .item span {
    font-size: 11px;
}
.search-container.n-70 .items .item:nth-child(even) span {
    display: none;
}
.search-container.n-90 .items .item {
    margin: 0px 2px;
}
.search-container.n-300 .items .item {
    margin: 0px 0.5px;
}
.search-container.n-900 .items .item {
    margin: 0px 0px;
}
.search-container .items .item.active {
    background: pink;
}
.search-container .items .item.found {
    background: green;
}
.search-container .items .item.inactive {
    background: grey;
    opacity: .2;
}
.search-container .items .item:hover {
    background: #333;
}
.search-container .items .item span {
    position: absolute;
    top: -20px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #005cb9;
}
.search-container .items .item.active span {
    color: black;
}
.search-container .min-index, .search-container .max-index {
    position: absolute;
    border-bottom: 5px solid black;
    bottom: 0px;
    transition: all .5s;
    text-align: center;
    padding-bottom: 4px;
    font-size: 13px;
    font-weight: bold;
}
input[type=text],input[type=number],select {
    font-size: 16px;
    font-family: "Arial";
    padding: 8px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
}
input[type=radio] {
    margin-right: 8px;
}
.d-flex {
    display: flex;
}
.d-flex > div {
    width: 100%;
}
.justify-content-between {
    justify-content: space-between;
}
label {
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}
pre#logs {
    width: 100%;
    white-space: break-spaces;
    box-sizing: border-box;
    padding: 16px;
    background: #333;
    color: white;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 12px 8px;
    background: #005cb9;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin-bottom: 8px;
    border: 0;
}
button[name=btnStop] {
    background: red;
}
button[disabled] {
    background: #ddd;
    color: #333;
    cursor:not-allowed;
}
@media screen and (max-width: 768px) {
    .container {
        box-sizing: border-box;
        padding: 24px;
    }
    .d-flex {
        flex-direction: column-reverse;
    }
}